{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">
                    {{ title|trans }}
                </h1>
                <p class="lead" style="color: #eee; text-shadow: 1px 1px 1px #222;">
                    {{ 'Welcome'|trans }}
                </p>
                <hr class="my-4">
            </div>
        </div>
        <br>
    <div class="col-sm-12 col-md-12 col-lg-6">
    <h2>Change your Schedule</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">📆</th>
            <th scope="col">{{ 'Entry'|trans }}</th>
            <th scope="col">{{ 'Exit'|trans }}</th>
            <th scope="col">{{ 'Action'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {{ form_start(form) }}
        <tr>
            <th scope="row">
                {{ form_widget(form.day) }}
            </th>
            <td>
                {{ form_widget(form.entry_time) }}
            </td>
            <td>
                {{ form_widget(form.exit_time) }}
            </td>
            <td>
                {{ form_widget(form.submit) }}
            </td>
        </tr>
        {{ form_end(form) }}
        </tbody>
    </table>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="alert alert-light" role="alert">
            <h4 class="alert-heading"><i class="bi bi-calendar-date"></i> Schedule</h4>
            <p>You can edit your schedule here</p>
            <hr>
            {{ include('Include/schedule.html.twig') }}
        </div>
    </div>
    </div>
{% endblock %}
