{% if app.user %}
    {% if app.user.role == 'ROLE_ADMIN' %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    {% else %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    {% endif %}
{% else %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
{% endif %}
    <a class="navbar-brand" href="/"> <i class="bi bi-person-badge-fill"></i> Badgeuse !</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            {% if app.user %}
                {% if app.user.role != 'ROLE_ADMIN' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('registries', {'id': app.user.id }) }}">
                        <i class="bi bi-list-check"></i>
                        {{ 'Entries'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('create-schedule', {'id': app.user.id }) }}">
                        <i class="bi bi-calendar-date"></i>
                        {{ 'Schedule'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('detail-user', {'id': app.user.id }) }}">
                        <i class="bi bi-person"></i>
                        {{ 'Profile'|trans }}
                    </a>
                </li>
                {% endif %}
                {% if app.user.role == 'ROLE_ADMIN' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('superAdmin') }}">
                            <i class="bi bi-key"></i>
                            {{ 'Super Admin'|trans }}
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('update-user', {'id': app.user.id }) }}">
                        <i class="bi bi-pencil-square"></i>
                        {{ 'Edit your data'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">
                        <i class="bi bi-box-arrow-right"></i>
                        {{ 'Logout!'|trans }}
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sign-up') }}">
                        <i class="bi bi-box-arrow-in-right"></i>
                        {{ 'Sign up'|trans }}
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ path('login') }}">
                        <i class="bi bi-person-badge"></i>
                        {{ 'Log in'|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>