{% if registries %}
<div class="alert alert-light" role="alert">
    <h4 class="alert-heading"><i class="bi bi-list-check"></i> {{ 'All the entries'|trans }}</h4>
    <p>{{ 'All the entries'|trans }}</p>
    {% if app.user.role == 'ROLE_ADMIN' %}
        <a href="{{ path('download-registries') }}">{{ 'Download'|trans }}</a>
    {% endif %}
    <hr>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">{{ 'User'|trans }}</th>
            <th scope="col">{{ 'Date'|trans }}</th>
            <th scope="col">{{ 'Entry'|trans }}</th>
            <th scope="col">{{ 'Exit'|trans }}</th>
            <th scope="col">{{ 'Delay'|trans }}</th>
            <th scope="col">{{ 'Total'|trans }}</th>
            <th scope="col">{{ 'Action'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for registry in registries %}
            {% if app.user.id == registry.idUser.id %}
                <tr class="text-primary" style="vertical-align: middle;">
            {% else %}
                <tr style="vertical-align: middle;">
            {% endif %}
            <td>
                {% if app.user.role == 'ROLE_ADMIN' %}
                    <a href="{{ path('detail-user', { 'id': registry.idUser.id }) }}">
                        {{ registry.idUser.name }}
                    </a>
                {% else %}
                    {{ registry.idUser.name }}
                {% endif %}
            </td>
            <td>{{ registry.date|date("F jS") }}</td>
            <td>{{ registry.entryTime|date("H:i:s") }}</td>
            <td>
                {% if registry.entryTime == registry.exitTime %}
                    -
                {% else %}
                    {{ registry.exitTime|date("H:i:s") }}
                {% endif %}
            </td>
            <td>{{ registry.delayTime|date("H:i:s") }}</td>
            <td>{{ registry.totalTime|date("H:i:s") }}</td>
            <td>
                {% if app.user.id == registry.idUser.id %}
                    <a href="{{ path('detail', { 'id': registry.id }) }}" class="btn btn-light text-primary"><i class="bi bi-eye"></i></a>
                {% endif %}

                {% if app.user.role == 'ROLE_ADMIN' %}
                    <a href="{{ path('detail', { 'id': registry.id }) }}" class="btn btn-light text-primary"><i class="bi bi-eye"></i></a>
                    <a href="{{ path('detail', { 'id': registry.id }) }}" class="btn btn-light text-warning"><i class="bi bi-pencil-square"></i></a>

                    <!-- MODAL ACTION -->
                    <a href="#"
                       type="button"
                       data-toggle="modal"
                       data-target="#modalErase{{ registry.id }}"
                       class="btn btn-light text-danger">
                        <i class="bi bi-trash"></i>
                    </a>

                    <!-- Modal -->
                    <div id="modalErase{{ registry.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content alert alert-danger">
                                <div class="modal-header">
                                    <h4 class="modal-title"><i class="bi bi-chat-left"></i> Message</h4>
                                </div>
                                <div class="modal-body">
                                        <div class="alert alert-danger border font-weight-bold" role="alert">
                                            {{ 'Do you want remove the entry for ' ~ registry.idUser.name ~ '?'|trans }}<br>
                                            <a href="{{ path('delete-registry', { 'id': registry.id }) }}">{{ 'Yes, i want to'|trans }}</a>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endif %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <div class="alert alert-light" role="alert">
        <h4 class="alert-heading"><i class="bi bi-list-check"></i> {{ 'There\'s no registries yet'|trans }}</h4>
    </div>
{% endif %}