<table class="table table-sm table-light table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">📆</th>
        <th scope="col">Entry</th>
        <th scope="col">Exit</th>
    </tr>
    </thead>
    <tbody>
    {% for schedule in schedules %}
        {% if scheduleDay %}
            {% if scheduleDay == schedule.day %}
                <tr class="text-primary">
            {% else %}
                <tr>
            {% endif %}
        {% endif %}
        <th scope="row">{{ schedule.day|capitalize|trans }}</th>
        <td>{{ schedule.getEntryTime()|date('H:i:s') }}</td>
        <td>{{ schedule.getExitTime()|date('H:i:s') }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3">
            <a href="{{ path('create-schedule', { 'id': schedules[0].idUser.id }) }}" class="btn btn-outline-secondary">{{ 'Edit'|trans }}</a>
        </td>
    </tr>
    </tbody>
</table>