{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
        {{ 'Entry for'|trans }} {{ registry.idUser.name }}
    {% else %}
        Badgeuse!
    {% endif %}
{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <h1 class="display-4">
                        {% if app.user %}
                            {{ 'Entry for'|trans }} {{ registry.idUser.name }}
                        {% else %}
                            {{ 'Welcome'|trans }}
                        {% endif %}
                    </h1>
                    <p class="lead" style="color: #eee; text-shadow: 1px 1px 1px #222;">
                        {{ 'Welcome'|trans }}
                    </p>
                    <hr class="my-4">
                </div>
            </div>
            <br>
            <div class="col-4">
                <div class="alert alert-light" role="alert">
                    <h4 class="alert-heading"><i class="bi bi-info-circle"></i> {{ 'Details'|trans }}</h4>
                    <p>{{ 'Details'|trans }}</p>
                    <hr>

                    <nav aria-label="...">
                        {% if app.user.role == 'ROLE_ADMIN' %}
                            <ul class="pagination pagination-xs justify-content-center">
                                {% for registry in registries %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ path('detail', { 'id': registry.id }) }}">
                                            <small>
                                                {{ registry.idUser.name }}<br>
                                                {{ registry.date|date("F jS Y") }}
                                            </small>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </nav>

                </div>
            </div>
            <div class="col-8">
                <div class="alert alert-light" role="alert">
                    <h4 class="alert-heading"><i class="bi bi-list-check"></i> {{ 'Details'|trans }}</h4>
                    <p>{{ 'Details'|trans }}</p>
                    <hr>

                <table class="table table-sm table-light table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">{{ 'Date'|trans }}</th>
                        <th scope="col">{{ 'Entry'|trans }}</th>
                        <th scope="col">{{ 'Exit'|trans }}</th>
                        <th scope="col">{{ 'Delay'|trans }}</th>
                        <th scope="col">{{ 'Total'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ registry.date|date("F jS") }}</td>
                        <td>{{ registry.entryTime|date("h:i:s") }}</td>
                        <td>
                            {% if registry.entryTime == registry.exitTime %}
                                -
                            {% else %}
                                {{ registry.exitTime|date("H:i:s") }}
                            {% endif %}
                        </td>
                        <td>{{ registry.delayTime|date("H:i:s") }}</td>
                        <td>{{ registry.totalTime|date("H:i:s") }}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Welcome !</h1>
    {% endif %}

{% endblock %}