{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
        All your registries {{ app.user.name }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="jumbotron">
            <h1 class="display-4">
                {% if app.user %}
                    {{ 'All the entries'|trans }}
                {% else %}
                    {{ 'Welcome'|trans }}
                {% endif %}
            </h1>
            <p class="lead" style="color: #eee; text-shadow: 1px 1px 1px #222;">
                {{ 'Welcome'|trans }}
            </p>
            <hr class="my-4">
        </div>
    </div>
    <br>

    {% if app.user %}
        <div class="row">
            <div class="col-4">
                <h2>
                    {{ 'All the entries'|trans }}
                </h2>
            </div>
            <div class="col-8">
                {{ include('Include/registries-list.html.twig') }}
            </div>
        </div>
    {% endif %}
{% endblock %}