{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">{{ 'Yes Your Highness'|trans }} 👑</h1>
                <p class="lead" style="color: #eee; text-shadow: 1px 1px 1px #222;">
                    {{ 'You have total control right here'|trans }}
                </p>
                <hr class="my-4">
            </div>
        </div>
        <br>
        <div class="col-xs-12 col-md-12 col-lg-4">
            <div class="alert alert-light" role="alert">
                <h4 class="alert-heading"><i class="bi bi-people"></i> {{ 'Users'|trans }}</h4>
                <p>{{ 'Users'|trans }}</p>
                <hr>
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <a href="{{ path('sign-up') }}" class="list-group-item text-primary">{{ 'Create user'|trans }}</a>
                        <a href="{{ path('all-users') }}" class="list-group-item text-success">{{ 'Display users'|trans }}</a>
                    </ul>
                </div>
            </div>

            <div class="alert alert-light" role="alert">
                <h4 class="alert-heading"><i class="bi bi-list-check"></i> {{ 'Registries'|trans }}</h4>
                <p>{{ 'Registries'|trans }}</p>
                <hr>
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <del><a href="#" class="list-group-item text-primary">{{ 'Create registry'|trans }}</a></del>
                        <a href="{{ path('all-registries') }}" class="list-group-item text-success">{{ 'Display registries'|trans }}</a>
                    </ul>
                </div>
            </div>

            <div class="alert alert-light" role="alert">
                <h4 class="alert-heading"><i class="bi bi-calendar-date"></i> {{ 'Schedules'|trans }}</h4>
                <p> {{ 'Schedules'|trans }}</p>
                <hr>
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <del><a href="#" class="list-group-item text-primary">{{ 'Create schedule'|trans }}</a></del>
                        <del><a href="#" class="list-group-item text-success">{{ 'Display schedules'|trans }}</a></del>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-8">
            {% if delays %}
                <div class="alert alert-light" role="alert">
                    <h4 class="alert-heading"><i class="bi bi-chat-left-text"></i> {{ 'Notifications'|trans }}</h4>
                    <p>Ops!</p>
                    <hr>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'Who is late'|trans }} ?</th>
                            <th scope="col">{{ 'How much time'|trans }} ?</th>
                            <th scope="col">{{ 'Action'|trans }} !</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for delay in delays %}
                                <tr>
                                    <td>
                                        <a href="{{ path('detail-user', { 'id': delay.idUser.id }) }}">
                                            {{ delay.idUser.name }}
                                        </a>
                                        {{ 'it\'s late'|trans }}
                                    </td>
                                    <td>{{ delay.delayTime|date("H:i:s") }}</td>
                                    <td><a href="{{ path('detail', { 'id': delay.id }) }}" class="btn btn-light text-primary"><i class="bi bi-eye"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">{{ 'Well done'|trans }}</h4>
                    <p>{{ 'Well done'|trans }}</p>
                </div>
            {% endif %}
            {{ include('Include/registries-list.html.twig') }}
        </div>
    </div>
{% endblock %}
