body{
    background: #222;
    color: #222;
    background-image: url("../img/background-admin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}