.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
}

label{
    display: block;
    width: 80%;
}

.header{
    list-style-type: none;
    text-align: center;
    margin: auto;
    padding: 0px;
}

.header a{
    text-decoration: none;
    color: #222;
}

.header li{
    display: inline-block;
    border-bottom: solid 1px #222;
    text-align: center;
    padding: 10px 30px;
    transition: all 0.3s;
}

.header li:hover {
    cursor: pointer;
    background: rgba(209, 209, 209, 0.7);
    transition: all 0.3s;
    color: #eee;
}

h1, h2{
    color: #eee; text-shadow: 1px 1px 1px #222;
}

table{
    text-align: center;
    width: 100%;
}

table th td{
    width: 25%;
}

