<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
            <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet" />

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

            {% if app.user %}
                {% if app.user.role == 'ROLE_ADMIN' %}
                    <link href="{{ asset('assets/css/style-admin.css') }}" type="text/css" rel="stylesheet" />
                {% else %}
                    <link href="{{ asset('assets/css/style-user.css') }}" type="text/css" rel="stylesheet" />
                {% endif %}
            {% else %}
                <link href="{{ asset('assets/css/style-user.css') }}" type="text/css" rel="stylesheet" />
            {% endif %}
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <!-- Trigger the modal with a button -->
        <button style="display: none;" id="modalButton" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog" style="text-align: left;">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="bi bi-chat-left"></i> Message</h4>
                    </div>
                    <div class="modal-body">
                        {% for message in app.session.flashbag().get('message') %}
                            <div class="alert alert-light border font-weight-bold" role="alert">
                                <i class="bi bi-chat-left"></i> {{ message }}
                            </div>

                            <script> $('#modalButton').click(); </script>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        {% block header %}
            {{ include('Include/menu.html.twig') }}
        {% endblock %}
        <div class="container" style="padding: 50px; background: rgba(204, 204, 204, 0.6); margin-top: 75px;">
        {% block body %}{% endblock %}
        {% for message in app.session.flashbag().get('message') %}
            <div class="alert alert-light border font-weight-bold" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        </div>
        {% block javascript %}{% endblock %}
    </script>

    </body>
</html>