<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<div class="alert alert-light" role="alert">
    <h1 class="alert-heading">
        <i class="bi bi-calendar-check"></i>
        {{ 'All the entries'|trans }}<br>
        {{ 'now'|date() }}
    </h1>
</div>

{% if registries %}
    <div class="alert alert-light" role="alert">
        <h4 class="alert-heading"><i class="bi bi-list-check"></i> {{ 'All the entries'|trans }}</h4>
        <p>{{ 'All the entries'|trans }}</p>
        <hr>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">{{ 'User'|trans }}</th>
                <th scope="col">{{ 'Date'|trans }}</th>
                <th scope="col">{{ 'Entry'|trans }}</th>
                <th scope="col">{{ 'Exit'|trans }}</th>
                <th scope="col">{{ 'Delay'|trans }}</th>
                <th scope="col">{{ 'Total'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for registry in registries %}
                {% if app.user.id == registry.idUser.id %}
                    <tr class="text-primary" style="vertical-align: middle;">
                {% else %}
                    <tr style="vertical-align: middle;">
                {% endif %}
                <td>
                    {% if app.user.role == 'ROLE_ADMIN' %}
                        <a href="{{ path('detail-user', { 'id': registry.idUser.id }) }}">
                            {{ registry.idUser.name }}
                        </a>
                    {% else %}
                        {{ registry.idUser.name }}
                    {% endif %}
                </td>
                <td>{{ registry.date|date("F jS") }}</td>
                <td>{{ registry.entryTime|date("H:i:s") }}</td>
                <td>
                    {% if registry.entryTime == registry.exitTime %}
                        -
                    {% else %}
                        {{ registry.exitTime|date("H:i:s") }}
                    {% endif %}
                </td>
                <td>{{ registry.delayTime|date("H:i:s") }}</td>
                <td>{{ registry.totalTime|date("H:i:s") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="alert alert-light" role="alert">
        <h4 class="alert-heading"><i class="bi bi-list-check"></i> {{ 'There\'s no registries yet'|trans }}</h4>
    </div>
{% endif %}

</body>
</html>