{% extends 'base.html.twig' %}

{% block title %}
    Details for {{ user.name }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">{{ 'Details for'|trans }} {{ user.name }}</h1>
                <p class="lead" style="color: #eee; text-shadow: 1px 1px 1px #222;">
                    {{ 'Welcome'|trans }}
                </p>
                <hr class="my-4">
            </div>
        </div>
        <br>
        <div class="col-xs-12 col-md-4">
            <div class="alert alert-light" role="alert">
                <h4 class="alert-heading"><i class="bi bi-person"></i> {{ 'Profile'|trans }}</h4>
                <p><i class="bi bi-info-circle"></i> {{ user.name }}</p>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ 'Name'|trans }}: {{ user.name }}</li>
                    <li class="list-group-item">{{ 'Last name'|trans }}: {{ user.lastName }}</li>
                    <li class="list-group-item">{{ 'Registries'|trans }}: {{ user.getRegistries()|length }}</li>
                </ul>
                <div class="card-body">
                    <a href="{{ path('detail-user', { 'id': user.id }) }}" class="btn btn-light text-primary"><i class="bi bi-eye"></i></a>
                    <a href="{{ path('update-user', { 'id': user.id }) }}" class="btn btn-light text-warning"><i class="bi bi-pencil-square"></i></a>

                    <!-- MODAL ACTION -->
                    <a href="#"
                       type="button"
                       data-toggle="modal"
                       data-target="#modalErase{{ user.id }}"
                       class="btn btn-light text-danger">
                        <i class="bi bi-trash"></i>
                    </a>

                    <!-- Modal -->
                    <div id="modalErase{{ user.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content alert alert-danger">
                                <div class="modal-header">
                                    <h4 class="modal-title"><i class="bi bi-chat-left"></i> Message</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-danger border font-weight-bold" role="alert">
                                        {{ 'Do you want remove  ' ~ user.name ~ '?'|trans }}<br>
                                        <a href="{{ path('delete-user', { 'id': user.id }) }}">{{ 'Yes, i want to'|trans }}</a>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="alert alert-light" role="alert">
                <h4 class="alert-heading"><i class="bi bi-calendar-date"></i> {{ 'Schedule'|trans }}</h4>
                <p>{{ 'Schedule'|trans }}</p>
                <hr>
                {{ include('Include/schedule.html.twig') }}
            </div>
            {{ include('Include/registries-list.html.twig') }}
        </div>
    </div>
{% endblock %}