{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
        Hello {{ app.user.name }}
    {% else %}
        Badgeuse!
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-12">
                <div class="jumbotron">
                    <h1 class="display-4">
                        {% if app.user %}
                            {{ 'Home'|trans }}
                        {% else %}
                            {{ 'Welcome'|trans }}
                        {% endif %}
                    </h1>
                    <p class="lead" style="color: #eee; text-shadow: 1px 1px 1px #222;">
                        {{ 'Welcome'|trans }}
                    </p>
                    <hr class="my-4">
                </div>
            </div>
            <br>

        {% if app.user %}
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="alert alert-light" role="alert">
                    <h4 class="alert-heading">
                        <i class="bi bi-calendar-check"></i>
                        {{ 'Actions'|trans }}
                    </h4>
                    <hr class="my-4">
                    <a href="{{ path('upregistry', { 'id': app.user.id }) }}" class="col-12 btn btn-secondary text-light">
                        {{ 'Enter'|trans }} <i class="bi bi-box-arrow-in-right"></i>
                    </a>
                    <br>
                    <br>
                    <a href="{{ path('downregistry', { 'id': app.user.id }) }}" class="col-12 btn btn-dark text-light">
                        {{ 'Exit'|trans }} <i class="bi bi-box-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="alert alert-light" role="alert">
                    <h4 class="alert-heading">
                        <i class="bi bi-calendar-check"></i>
                        {{ 'All the entries'|trans }}<br>
                        {{ 'now'|date() }}
                    </h4>
                </div>
                    {{ include('Include/registries-list.html.twig') }}
            </div>
        </div>
        {% else %}
            <h2>You can start now</h2>
        {% endif %}
        </div>
    </div>


{% endblock %}