{% extends 'base.html.twig' %}

{% block title %} {{ title|trans }} {% endblock %}

{% block body %}
    <div class="example-wrapper">
            <div class="row">
                <div class="col-6" style="color:#eee; text-shadow: 1px 1px 5px #222;">
                    <h1>{{ title|trans }}</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis sapien sit amet
                        Cras ut tincidunt erat. Nunc sed erat imperdiet, finibus lacus ut, mollis nisi. Etiam venenatis
                        felis a varius imperdiet. Integer faucibus rhoncus ornare. Sed a rhoncus metus, quis pulvinar
                        eros.
                    </p>
                </div>
                <div class="col-6">
                    {{ form_start(form) }}
                    {{ form_row(form.email, {'full_name':'_username', 'value':last_username }) }}
                    {{ form_row(form.password, {'full_name':'_password'}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                    {% if error %}
                        <br>
                        <div class="alert alert-danger">
                            {{ error.messagekey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    {% for message in app.session.flashbag().get('message') %}
                        <br>
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>
{% endblock %}