{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <div class="example-wrapper">

            <div class="row">
                <div class="col-6" style="color:#eee; text-shadow: 1px 1px 5px #222;">
                    <h1>{{ title|trans }}</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis sapien sit amet
                        Cras ut tincidunt erat. Nunc sed erat imperdiet, finibus lacus ut, mollis nisi. Etiam venenatis
                        felis a varius imperdiet. Integer faucibus rhoncus ornare. Sed a rhoncus metus, quis pulvinar
                        eros.
                    </p>
                </div>
                <div class="col-6">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                    {% for message in app.session.flashbag().get('message') %}
                        <br>
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>


    </div>
{% endblock %}