{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">{{ 'All the users'|trans }}</h1>
                <p class="lead" style="color: #eee; text-shadow: 1px 1px 1px #222;">
                    {{ 'You have total control right here'|trans }}
                </p>
                <hr class="my-4">
            </div>
        </div>
    {% for user in users %}
    <div class="col-3 card" style="border: solid 10px #ccc;">
        <div class="card-body">
            <h3>{{ user.name ~ ' ' ~ user.lastName}}</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ 'Name'|trans }}: {{ user.name }}</li>
                <li class="list-group-item">{{ 'Last name'|trans }}: {{ user.lastName }}</li>
                <li class="list-group-item">{{ 'Registries'|trans }}: {{ user.getRegistries()|length }}</li>
                <div style="text-align: center;">
                    <a href="{{ path('detail-user', { 'id': user.id }) }}" class="btn btn-light text-primary"><i class="bi bi-eye"></i></a>
                    <a href="{{ path('update-user', { 'id': user.id }) }}" class="btn btn-light text-warning"><i class="bi bi-pencil-square"></i></a>

                    <!-- MODAL ACTION -->
                    <a href="#"
                       type="button"
                       data-toggle="modal"
                       data-target="#modalErase{{ user.id }}"
                       class="btn btn-light text-danger">
                        <i class="bi bi-trash"></i>
                    </a>

                    <!-- Modal -->
                    <div id="modalErase{{ user.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content alert alert-danger">
                                <div class="modal-header">
                                    <h4 class="modal-title"><i class="bi bi-chat-left"></i> Message</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-danger border font-weight-bold" role="alert">
                                        {{ 'Do you want remove  ' ~ user.name ~ '?'|trans }}<br>
                                        <a href="{{ path('delete-user', { 'id': user.id }) }}">{{ 'Yes, i want to'|trans }}</a>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </ul>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}

