<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <title>SignUp Code</title>
</head>

<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="#">
s
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">Hi GOD, it's me again!</h1>
            <p class="block">
                <strong>{{ registryName }}</strong> it's late today. His entry was around {{ registryEntryTime|date('H:i:s') }} <br>
                and his delay is {{ registryDelayTime|date('H:i:s') }}
            </p>

            <h2>You can see the details for the schedules for <strong>{{ registryName }}</strong></h2>
            {{ include('Include/schedule.html.twig') }}
        </div>

    </div>
</div>
</body>
</html>
